*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
ul,
li {
  padding: 0;
  margin: 0;
}
body {
  max-width: 1600px;
  background-color: var(--white-text);
}
a {
  text-decoration: none;

  /*Поїхали :)  */
}
.header {
  background-color: var(--white-text);
  border-bottom: 1px solid #ececec;
}
.nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
  text-align: center;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.nav__link {
  display: flex;
  align-items: center;
}
.nav__list {
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.contacts {
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.nav__logo--web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--blue-text);
  font-size: 26px;
  letter-spacing: 0.03;
  line-height: 1.15;
}

.nav__logo--studio {
  padding-right: 43px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--black-dark-text);
  font-size: 26px;
  letter-spacing: 0.03;
  line-height: 1.15;
}
.nav__logo--white {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--white-text);
  font-size: 26px;
  letter-spacing: 0.03em;
}
.nav__page--active .nav__page {
  color: var(--blue-text);
  position: relative;
  display: block;
}
.nav__page--active .nav__page::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue-text);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}
.nav__page {
  margin-left: 50px;
  padding: 32px 0;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--black-text);
  letter-spacing: 0.02em;
}
.contacts__Information:hover {
  color: var(--blue-text);
  transition: color 250ms var(--cubic);
}
.contacts__Information {
  display: flex;
  padding-left: 50px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-text);
  letter-spacing: 0.02em;
  justify-content: center;
  align-items: center;
}
.contacts__svg {
  margin-right: 10px;
  fill: currentColor;
}

/* -----------Блок героя--------- */

.hero {
  background-color: var(--dark-grey-bac);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bac/Img-bac-hero.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  text-align: center;
}
.hero__container {
  padding: 200px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero__text {
  font-family: "roboto";
  font-size: 44px;
  font-weight: 900;
  color: var(--white-text);
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button-zakaz {
  margin-top: 30px;
  border: 0;
  padding: 10px 32px;
  background-color: var(--blue-text);
  color: var(--white-text);
  display: inline-block;
  border-radius: 4px;
  font-family: "roboto";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}
.button-zakaz:hover {
  color: var(--blue-text);
  letter-spacing: 0.06em;
  background-color: var(--white-text);
}
.hide {
  height: 0px;
  overflow: hidden;
}
/* -----М-о-д-а-л-к-а------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--zatemnenya);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  padding: 40px;
  width: 528px;
  height: 582px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  background-color: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
}

.modal .modal__closed {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  justify-content: center;
  align-items: center;
  fill: var(--black);
}
.modal .modal__closed:hover,
.modal .modal__closed:focus {
  fill: var(--blue-text);
}

.modal__title {
  justify-content: space-between;
  font-family: "roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 30px;
}
.form {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.form__field {
  display: block;
  position: relative;
  justify-content: center;
}
.form__field:nth-child(-n + 3) {
  margin-bottom: 28px;
}

.form__label {
  position: absolute;
  top: -50%;
  left: 0px;
  color: var(--grey-text);
}

.form__input {
  padding: 10px 10px 10px 40px;
  width: 100%;
  font-size: 16px;
  line-height: 1.16;
  font: inherit;
  border-radius: 4px;
  border: 1px solid var(--border-modal-color);
}
.form__input:hover,
.form__input:focus {
  border: 1px solid var(--blue-text);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: transparent;
  fill: var(--black-text);
}
.form__input:focus ~ .form__icon,
.form__input:hover ~ .form__icon {
  fill: var(--blue-text);
}
.form__textarea {
  width: 100%;
  border: 1px solid var(--border-modal-color);
  padding: 12px;
  display: block;
  resize: none;
}
.form__textarea:hover {
  border-color: var(--blue-text);
}
.form__field .coment {
  display: flex;

  top: -50%;
  color: var(--grey-text);
  transform: translateY(-3px);
}
.form__textarea::placeholder {
  font-family: "Roboto";
  color: var(--placeholder);
  font-size: 14px;
  line-height: 1.16;
}
/* ------------------------ */

.form__agree {
  color: var(--grey-text);
  font-family: "roboto";
  font-size: 14px;
  line-height: 1.714;
  margin-left: 7px;
  margin-right: 2px;
}
.form__botton {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 200px;
  height: 50px;
  background-color: var(--blue-text);
  color: var(--buutom-bac);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}
.form__link {
  color: var(--blue-text);
  margin-left: 2px;
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
}
.form__checkbox {
  /* appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__icon--check {
  border: 2px solid var(--black-text);
  border-radius: 2px;
  margin-top: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(2px);
}
.form__checkbox:checked + .form__icon--check {
  border-color: transparent;
  background-size: contain;
  background-origin: border-box;
  background-color: var(--blue-text);
  box-shadow: none;
}

/* --------Блок лапші--------- */

.approach__container {
  padding: 94px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.approach-card__list {
  display: flex;
  justify-content: space-between;
}
.approach-card__inner {
  padding: 25px 0 25px;
  margin-bottom: 30px;
  background-color: var(--buutom-bac);
  border-radius: 4px;
}
.approach-card__svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.approach-card__title {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 700;
  color: var(--black-text);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
.approach-card__text {
  max-width: 270px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-text);
  letter-spacing: 0.03em;
  line-height: 1.71;
}

/*---- Блок Чим Займаємось ------ */

.what-we-do__container {
  margin-bottom: 94px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.what-we-do__slogan {
  padding-bottom: 50px;
  text-align: center;
  font-family: "roboto";
  font-size: 36px;
  font-weight: 700;
  color: var(--black-text);
  letter-spacing: 0.03em;
  line-height: 1.16;
}

/* ---Наша команда--- */

.team {
  background-color: var(--buutom-bac);
}
.team__container {
  padding: 94px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.team__slogan {
  margin-bottom: 50px;
  text-align: center;
  font-family: "roboto";
  font-size: 36px;
  font-weight: 700;
  color: var(--black-text);
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.team__name {
  margin-bottom: 10px;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  color: var(--black-dark-textt);
  letter-spacing: 0.03em;
  line-height: 1.18;
}
.team__text {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  color: var(--grey-text);
  letter-spacing: 0.03em;
  line-height: 1.18;
}
.team__list-svg {
  margin-top: 16px;
  max-width: 270px;
  display: flex;

  align-items: center;
  justify-content: space-around;
}
.team__social-link {
  color: var(--social-networks);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--social-networks);
  background-color: rgba(255, 255, 255, 0.1);
}
.team__svg {
  justify-content: center;
  align-items: center;
  fill: currentColor;
}

.team__social-link:hover {
  border-radius: 50%;
  color: #ffffff;
  background-color: var(--blue-text);
}

/* Карточки команди */

.team__list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--team-card-set-gap));
  margin-top: calc(-1 * var(--team-card-set-gap));
}
.team__list > .team__item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--team-card-set-gap);
  margin-top: var(--team-card-set-gap);
}

.team__card {
  margin-bottom: 94px;
  box-shadow: var(--team-card-shadow);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  background-color: var(--white-text);
}

.team__card-content {
  text-align: center;
  padding: 30px 32px;
}
/* ---------- Постійні клієнти-------------- */

.client {
  padding: 94px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  text-align: center;
}
.client__title {
  margin-bottom: 50px;
  font-family: "roboto";
  font-size: 36px;
  font-weight: 700;
  color: var(--black-text);
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.client-card__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.client-card__link {
  fill: var(--social-networks);
  background-color: transparent;
}
.client-card__svg {
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 2px solid currentColor;
  color: var(--social-networks);
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-card__svg:hover {
  border-color: var(--blue-text);
  fill: var(--blue-text);
}

/* ----------Підвал------ */

.footer {
  background-color: var(--dark-grey-bac);
}
.footer__containers {
  display: flex;
  padding: 60px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer__address {
  margin-right: 70px;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer__map {
  display: inline-block;
  margin-bottom: 9px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--white-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.footer__link-address {
  display: inline-block;
  margin-bottom: 9px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-text-op60);
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.footer__address {
  font-style: normal;
}
.footer-join__title {
  color: var(--white-text);
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.footer-join__containers {
  width: 206px;
}
/* ---------Подписка---------- */
.subscription {
  margin-left: 50px;
}
.subscription__title {
  color: #ffffff;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.subscription__imput {
  width: 348px;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  padding: 15px;
}
.subscription__imput::placeholder {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
}
.subscription__button {
  align-items: center;
  margin-left: 12px;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--blue-text);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 6px 0 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscription__svg {
  margin-right: 28px;
  margin-left: 10px;
  transform: translateY(7px);
}
/* -------------------------- */
/* --------Portfolio ---------*/
/* -------------------------- */

.portfolio {
  padding: 94px 0;
}
.portfolio__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.portfolio__button-list {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 34px;
}
.portfolio__button {
  padding: 6px 22px;
  margin-right: 8px;
  background-color: var(--buutom-bac);
  border: 0;
  border-radius: 4px;

  color: var(--black-text);
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.62;
}
.portfolio__button:hover {
  color: var(--white-text);
  background-color: var(--blue-text);
  border: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Головнй контент */
.card-set__project-name {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--black-text);
  line-height: 2;
}
.card-set__signature {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--grey-text);
  line-height: 1.87;
}
/*Карточки головного контенту   */
/* CARD SET */
.card-set {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set > .card-set__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

/*---------- CARD ------------*/

.card-set__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__content {
  display: block;
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}
.card-set__thumb {
  box-shadow: inherit;
  display: block;
  position: relative;
  overflow: hidden;
}

/*  ------спливаюче вікно --------- */

.card-set__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--overlay-color);
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.card-set__link:hover .card-set__overlay,
.card-set__link:focus .card-set__overlay {
  transform: translateY(0);
}

.card-set__text {
  font-weight: 400;
  font-family: "roboto";
  font-size: 18px;
  line-height: 1.5;
  color: var(--white-text);
}
/* -----Чим займаємся підписи тексту----- */
.what-we-do-card__service {
  overflow: hidden;
  position: relative;
}
.what-we-do-card__service > .what-we-do-card__prefix {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 0;
  width: 100%;
  height: 70px;
  font-family: "roboto";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  background-color: var(--grey-prozoriy);
  color: var(--white-text);
}

.what-we-do-card__prefix {
  display: flex;
  justify-content: center;
  align-items: center;
}
.what-we-do-card__list {
  display: flex;
  justify-content: space-between;
}
