.approach {
  padding: 94px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.approach-card__list {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}
.approach__item {
  display: block;
  max-width: 450px;
}
// @media screen and (max-width: 480px) {
//   .approach-card__list {
//     display: block;
//   }
// }
// @media screen and (max-width: 768px) {
//   .approach-card__list {
//     // display: block;

//   }
// }
.approach-card__inner {
  padding: 25px 0 25px;
  margin-bottom: 30px;
  background-color: var(--buutom-bac);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .approach-card__inner:not(:last-child) {
    margin-right: 30px;
  }
}
.approach-card__svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.approach-card__title {
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 700;
  color: var(--black-text);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
@media screen and (max-width: 768px) {
  .approach-card__title {
    display: block;
    margin-bottom: 10px;
  }
}
.approach-card__text {
  margin-left: auto;
  margin-right: auto;

  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-text);
  letter-spacing: 0.03em;
  line-height: 1.71;
}
