.approach {
  padding: 94px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.approach-card__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

.approach__item {
  width: 100%;

  &:not(:first-child) {
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-left: 30px;
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.approach-card__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
  background-color: var(--buutom-bac);
  border-radius: 4px;
  border: none;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.approach-card__svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.approach-card__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

.approach-card__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey-text);
}
