.footer {
  background-color: var(--dark-grey-bac);
}
.footer__containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 1200px) {
    display: flex;

    // padding-right: 89px;
    // padding-left: 76px;
  }
}
// .footer__address {
//   // margin-right: 70px;
// }
.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.footer__map {
  display: block;
  margin-bottom: 9px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--white-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.footer__link-address {
  display: block;
  margin-bottom: 9px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-text-op60);
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.footer__address {
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
}
.footer-join__title {
  color: var(--white-text);
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.footer-join__containers {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1200px) {
  .footer-join__containers {
    margin-top: 60px;
  }
}
/* ---------Подписка---------- */
.subscription {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1200px) {
  .subscription {
    margin-top: 60px;
  }
}
.subscription__title {
  color: #ffffff;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription__imput {
  width: 348px;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  padding: 15px;
}
.subscription__imput::placeholder {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
}
.subscription__button {
  align-items: center;
  margin-left: 12px;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--blue-text);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 6px 0 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscription__svg {
  margin-right: 28px;
  margin-left: 10px;
  transform: translateY(7px);
}
