.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: solide 1px var(--border-color);

  max-width: 1200px;
}

.nav__link {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav__list {
  justify-content: space-around;
  align-items: center;
  display: flex;
}
@media screen and (max-width: 768px) {
  .nav__list {
    display: none;
  }
}
.contacts {
  justify-content: space-around;
  align-items: center;

  display: flex;
}
@media screen and (max-width: 768px) {
  .contacts {
    display: none;
  }
  .contacts__Information:hover {
    color: var(--blue-text);
    transition: color 250ms var(--cubic);
  }
  .contacts__Information--mail-color {
    font-family: "roboto";
    font-size: 24px;
    font-weight: 500;
    color: var(--grey-text);
    letter-spacing: 0.02em;
    justify-content: center;
    align-items: center;
  }
  .contacts__Information {
    display: flex;
    font-family: "roboto";
    font-size: 14px;
    font-weight: 500;
    color: var(--grey-text);
    letter-spacing: 0.02em;
    justify-content: center;
    align-items: center;
    margin-top: 270px;
  }
  @media screen and (max-width: 1200px) {
    .contacts__Information {
      font-size: 34px;
      justify-content: left;
      color: var(--blue-text);
      padding-bottom: 32px;
    }
  }
  .contacts__svg {
    margin-right: 10px;
    fill: currentColor;
  }
}
.nav__logo--web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--blue-text);
  font-size: 26px;
  letter-spacing: 0.03;
  line-height: 1.15;
}
@media (min-width: 768px) {
  .nav__logo--web {
    margin: 32px 0 0 0;
  }
}

.nav__logo--studio {
  padding-right: 43px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--black-dark-text);
  font-size: 26px;
  letter-spacing: 0.03;
  line-height: 1.15;
}
.nav__logo--white {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--white-text);
  font-size: 26px;
  letter-spacing: 0.03em;
}
.nav__page--active .nav__page {
  color: var(--blue-text);
  position: relative;
  display: block;
}
.nav__page--active .nav__page::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue-text);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}
@media screen and (max-width: 768px) {
  .nav__page--active .nav__page::after {
    content: "";
    display: none;
  }
}
.nav__page {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--black-text);
  letter-spacing: 0.02em;
  // padding-top: 16px;
}
@media screen and (max-width: 768px) {
  .nav__page {
    font-size: 40px;
    font-weight: 500;
  }
}
@media (min-width: 768px) {
  .nav__page {
    margin: 32px 50px 32px 0;
  }
}

// ________________________________________________________

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.mobile-menu__social {
  display: flex;
  padding-bottom: 16px;
  margin-top: 64px;
}
.mobile-menu__link {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 500;
  color: var(--blue-text);
  letter-spacing: 0.02em;
  padding-right: 5px;
}
.mobile-menu__cheat {
  color: var(--border-modal-color);
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.mobile-menu__icon {
  &:hover,
  &:focus {
    fill: var(--blue-text);
  }
}
.closeMenu-button__icon {
  &:hover,
  &:focus {
    fill: var(--blue-text);
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: floralwhite;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  list-style: none;
}

.mobile-menu .link :not(last-child) {
  display: block;
  margin-bottom: 32px;
}
