.what-we-do__container {
  margin-bottom: 94px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.what-we-do__slogan {
  padding-bottom: 50px;
  text-align: center;
  font-family: "roboto";
  font-size: 36px;
  font-weight: 700;
  color: var(--black-text);
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.what-we-do-card__service {
  overflow: hidden;
  position: relative;
}
.what-we-do-card__service > .what-we-do-card__prefix {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 0;
  width: 100%;
  height: 70px;
  font-family: "roboto";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  background-color: var(--grey-prozoriy);
  color: var(--white-text);
}

.what-we-do-card__prefix {
  display: flex;
  justify-content: center;
  align-items: center;
}
.what-we-do-card__list {
  display: flex;
  justify-content: space-between;
}
