.button-zakaz {
  margin-top: 30px;
  border: 0;
  padding: 10px 32px;
  background-color: var(--blue-text);
  color: var(--white-text);
  display: inline-block;
  border-radius: 4px;
  font-family: "roboto";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--blue-text);
    letter-spacing: 0.06em;
    background-color: var(--white-text);
  }
}
