.contacts {
  justify-content: space-around;
  align-items: center;
  display: flex;

  &__svg {
    margin-right: 10px;
    fill: currentColor;
  }
}

.contacts__Information {
  display: flex;
  padding-left: 50px;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-text);
  letter-spacing: 0.02em;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    color: var(--blue-text);
    transition: color 250ms var(--cubic);
  }
}
