.modal {
  padding: 40px;
  width: 528px;
  height: 582px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  background-color: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);

  &__title {
    justify-content: space-between;
    font-family: "roboto";
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 30px;
  }
}
.modal .modal__closed {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  justify-content: center;
  align-items: center;
  fill: var(--black);
}
.modal .modal__closed:hover,
.modal .modal__closed:focus {
  fill: var(--blue-text);
}
