.team {
  background-color: var(--buutom-bac);

  &__container {
    padding: 94px 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__slogan {
    margin-bottom: 50px;
    text-align: center;
    font-family: "roboto";
    font-size: 36px;
    font-weight: 700;
    color: var(--black-text);
    letter-spacing: 0.03em;
    line-height: 1.16;
  }

  &__name {
    margin-bottom: 10px;
    font-family: "roboto";
    font-size: 16px;
    font-weight: 500;
    color: var(--black-dark-textt);
    letter-spacing: 0.03em;
    line-height: 1.18;
  }
  &__text {
    font-family: "roboto";
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-text);
    letter-spacing: 0.03em;
    line-height: 1.18;
  }
  &__list-svg {
    margin-top: 16px;
    max-width: 270px;
    display: flex;

    align-items: center;
    justify-content: space-around;
  }
  &__social-link {
    color: var(--social-networks);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--social-networks);
    background-color: rgba(255, 255, 255, 0.1);
    &:hover,
    &:focus {
      border-radius: 50%;
      color: #ffffff;
      background-color: var(--blue-text);
    }
  }

  &__svg {
    justify-content: center;
    align-items: center;
    fill: currentColor;
  }

  /* Карточки команди */

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--team-card-set-gap));
    margin-top: calc(-1 * var(--team-card-set-gap));
  }
  .team__list > .team__item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--team-card-set-gap);
    margin-top: var(--team-card-set-gap);
  }

  &__card {
    margin-bottom: 94px;
    box-shadow: var(--team-card-shadow);
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
    background-color: var(--white-text);
  }

  &__card-content {
    text-align: center;
    padding: 30px 32px;
  }
}
